body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  color: #333333;
  font-size: 16px;
  overflow-x: hidden;
}

.no-padding {
  padding: 0;
}

.no-border {
  border: none;
}


.container-fluid {

	background-color: #F3F5F5;
}



  .head {
	font-family: 'Karma', serif;
	
}

.head1 {
	font-family: 'Noto Sans', sans-serif;
	margin-right: 10px;
	font-size: 1.5rem;
}

 .head {
	font-size: 4rem;
	color: #217FF9;
	margin-top: 10px;
	text-shadow: 3px 3px 6px #B5B7B7;
}

.mail {
	margin-top: 40px;
	font-family: serif;
	color: #6F7070;
}

.mail .icons {

	margin-left: 25px;
	font-size: 18px;
}

.mail a{

	text-decoration: none;
	color: #6F7070;
	font-family: sans-serif;
}

.mail a:hover {

	color: orange;
}



/* FOR MOBILE SCREEN */

@media only screen and (max-width: 700px) {

	.head {

      font-size: 2.5rem ;
	}

	.head1 {

		font-size: 1rem;
	}

	.mail {

		font-size: 15px;
		color: 
	}
}

@media only screen and (max-width: 450px) {

	.head {

		font-size: 2.3rem;
		margin-top: 0px;
	}

	.head1 {

		font-size: 1rem;
	}

	.mail {
		font-size: 13px;
        margin-top: 0px;
	}

	.container-fluid img {

		width: 60px;
		height: 60px;
	}

	.mail .icons {

		font-size: 14px;
		margin-left: 15px;
	}
}



/*///////////// FOR NAVBAR ////////////// */

.navbar {

	background-color: #14A2F1;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}



.navbar ul{
     text-align: center;
}


.navbar ul li {

	margin-right: 30px;
	font-family: 'Noto Sans', sans-serif;
}

 .navbar .navbar-nav .nav-item .nav-link:hover{
         
         background-color: #065D82;
         border-radius: 5px;
}

.navbar .navbar-nav .nav-item .dropdown-menu {

	background-color: #F3F5F5;
	border: 1px solid #B5B6B6;
	border-radius: 3px;

}



.navbar .navbar-nav .nav-item .dropdown-menu a:hover {
       
    color: #0FBBF9;

}



/* FOR IMAGE SLIDESHOW */
/*/////////////////////*/

/* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
  }


  /*IMAGE SLIDESHOW ENDS*/
  /*////////////////////*/


  /* ABOUT US */
  /*/////////*/

 

  .about {
  	background-color: none;
  	padding-top: 20px;
  	padding-left: 5px;
  	font-family: 'Karma', sans-serif;
  	color: #FBAB02;
  }

  .about_para {

  	font-family: 'Jaldi', sans-serif;
  	font-size: 1.3rem;
  	color: #fff;
  }


/*-- EVENTS IMAGES STARTS --->
<!---------------------------*/

.event {

	background-color: #F3F5F5;
}

.event_head {

	font-family: 'Karma', sans-serif;
	font-size: 2.5rem;
	margin-top: 25px;
	color: #000;
}

.event_para {

	font-family: 'Jaldi', sans-serif;
	font-size: 1.3rem;
	color: #000;
	padding-bottom: 10px;
}

.thumbnail a {
	text-decoration: none;
}

.caption {

	color: #0CE404;
	font-family: 'Jaldi', sans-serif;
	font-size: 18px;
	text-align: center;
}

.thumbnail {

	box-shadow: 0 0 10px #777777;
	-webkit-box-shadow: 0 0 10px #777777;
	-moz-box-shadow: 0 0 10px #777777;
	border-radius: 6px;
}

@media only screen and (max-width: 450px){

	.event_head {

		font-size: 2rem;
	}

	.event_para {

		font-size: 0.9rem;
	}

	.thumbnail a .event_photo{

		width: 100%;
		height: 250px;
	}
}


/*-- EVENTS IMAGES ENDS --->
<!---------------------------*/


/*---OTHER LINKS -----*/
/*-------------------*/

.other_link {

	background-color: #F3F5F5;
	font-family:  'Jaldi', sans-serif;
	border: 1px solid #ccc;
}

.other_link{

	padding-top: 15px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 23px;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
}


.other_link a{

	text-decoration: none;
	color: #077AA4;
}

.other_link a:hover {

	color: #1FBFF8
}


/* FOR SMALL DEVICES */

@media only screen and (max-width: 450px) {

	.other_link {
         border-top-right-radius: 15px;
	     border-top-left-radius: 15px;

	}
      
      .other_link a{

      	font-size: 16px;

      }
}



/* OTHER LINKS---*/
/*---------------*/


/* FOOTER STARTS HERE*/
/*////////*/

.quick_link {

	background-color: #403F3F;
}

.quick_link p {

	font-family: 'Jaldi', sans-serif;
	font-size: 16px;
	color: #B3B2B1;
	padding-left: 40px;
	padding-top: 10px;
}

.links {
	font-family: 'Jaldi', sans-serif;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 10px;
} 

.quick_link .links ul {
    list-style: none;
}

.quick_link .links ul li {

	display: inline;
	margin-left: 35px;
}

.quick_link .links ul li a {

	text-decoration: none;
	 color: #0C96EC;
}

.quick_link .links ul li a:hover {

	color: #CED0D1;
}
 

/* FOR MOBILE */
/*///////////*/

@media only screen and (max-width: 450px) {

.quick_link .links ul li {

	display: inline;
	margin-left: 20px;
}

}


.footer {

	background-color: #2C2D2D;
}

.footer p {

	font-size: 13px;
	font-family: sans-serif;
	color: #A0A1A2;
	text-align: center;
	margin-top: 60px;
}

.footer .icon {

	color: #F9A005;
}

.footer ul {
	list-style: none;
	margin-top: 60px;
	padding-bottom: 40px;
}

.footer ul li {
	display: inline;
	margin-right: 15px;
}

.footer .icon_head {

	font-size: 15px;
	font-family: 'Jaldi', sans-serif;
	color: #F9A005; 
}