body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  color: #333333;
  font-size: 16px;
  overflow-x: hidden;
}

.no-padding {
  padding: 0;
}

.no-border {
  border: none;
}


.container-fluid {

	background-color: #F3F5F5;
}



  .head {
	font-family: 'Karma', serif;
	
}

.head1 {
	font-family: 'Noto Sans', sans-serif;
	margin-right: 10px;
	font-size: 1.5rem;
}

 .head {
	font-size: 4rem;
	color: #217FF9;
	margin-top: 10px;
	text-shadow: 3px 3px 6px #B5B7B7;
}

.mail {
	margin-top: 30px;
	font-family: serif;
}




/* FOR MOBILE SCREEN */

@media only screen and (max-width: 700px) {

	.head {

      font-size: 2.5rem ;
	}

	.head1 {

		font-size: 1rem;
	}

	.mail {

		font-size: 15px;
	}
}

@media only screen and (max-width: 450px) {

	.head {

		font-size: 2.2rem;
		margin-top: 0px;
	}

	.head1 {

		font-size: 1rem;
	}

	.mail {
		font-size: 13px;
        margin-top: 0px;
	}

	.container-fluid img {

		width: 60px;
		height: 60px;
	}
}



/*///////////// FOR NAVBAR ////////////// */

.navbar {

	background-color: #14A2F1;
	box-shadow: 0 0 10px #C2C4C4;
	-moz-box-shadow : 0 0 10px #C2C4C4 ;
	-webkit-box-shadow :  0 0 10px #C2C4C4;
}

.navbar ul{
     text-align: center;
}


.navbar ul li {

	margin-right: 30px;
	font-family: 'Noto Sans', sans-serif;
}

 .navbar .navbar-nav .nav-item .nav-link:hover{
         
         background-color: #065D82;
         border-radius: 5px;
}

/* FOR IMAGE SLIDESHOW */
/*/////////////////////*/

/* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
  }


  /*IMAGE SLIDESHOW ENDS*/
  /*////////////////////*/


  /* ABOUT US */
  /*/////////*/

 

  .about {
  	background-color: none;
  	padding-top: 20px;
  	padding-left: 5px;
  	font-family: 'Karma', sans-serif;
  	color: #FBAB02;
  }

  .about_para {

  	font-family: 'Jaldi', sans-serif;
  	font-size: 1.3rem;
  	color: #fff;
  }


/*-- EVENTS IMAGES STARTS --->
<!---------------------------*/

.event {

	background-color: #F3F5F5;
}

.event_head {

	font-family: 'Karma', sans-serif;
	font-size: 2.5rem;
	margin-top: 25px;
	color: #000;
}

.event_para {

	font-family: 'Jaldi', sans-serif;
	font-size: 1.3rem;
	color: #000;
	padding-bottom: 10px;
}

.thumbnail a {
	text-decoration: none;
}

.caption {

	color: #26DC04;
	font-family: 'Jaldi', sans-serif;
	font-size: 20px;
	text-align: center;
}

@media only screen and (max-width: 450px){

	.event_head {

		font-size: 2rem;
	}

	.event_para {

		font-size: 0.9rem;
	}
}


/*-- EVENTS IMAGES ENDS --->
<!---------------------------*/

/* FOOTER */
/*////////*/

.footer {

	background-color: #2C2D2D;
}

.footer p {

	font-size: 13px;
	font-family: sans-serif;
	color: #A0A1A2;
	text-align: center;
	margin-top: 13px;
}

.footer .icon {

	color: #F9A005;
}

.footer ul {
	list-style: none;
	margin-top: 10px;
}

.footer ul li {
	display: inline;
	margin-right: 15px;
}

.footer .icon_head {

	font-size: 13px;
	font-family: 'Jaldi', sans-serif;
	color: #F9A005; 
}